- name: Backup Cisco configs to TFTP
  hosts: cisco
  gather_facts: no
  connection: network_cli

  vars:
    tftp_server: 217.3.160.100

  tasks:
    - name: Backup running-config to TFTP 
      cisco.ios.ios_command:
        commands:
        - command: "copy running-config tftp://{{ tftp_server }}/{{inventory_hostname}}.cfg"
          prompt: "Address or name of remote host [217.3.160.100]? "
          answer: ""
        - command: ""
          prompt: "Destination filename [{{inventory_hostname}}.cfg]? "
          answer: ""
      register: output

    - name: Show output
      debug:
        msg:
          version: "{{ output.stdout[0] }}"


